body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  width: 1296;
  background-color: var(--white);
  margin: 0 auto;
}
:root {
  --mint: #DBF3ED;
  --white: #FFFFFF;
  --button: #0F8277;
  --black: #000000;
  --gray: #5C5C5C;
  --form-placeh: #8E8E8E;
}
.container {
  width: 1296px;
  margin: 0 auto;
}
.logo {
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
}
header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-wrapper {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: center;
  position: relative;
}
button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 12px;
  color: var(--white);
  background-color: var(--button);
  border-radius: 4px;
  width: fit-content;
  font-family: "Quicksand", sans-serif;
}
.learn-more {
  color: var(--button);
  background-color: var(--mint);
  border-radius: 4px;
  border: 2px solid var(--button);
}
.left-wrapper button {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.button:hover .explore-menu {
  display: block;
}
.button button::after {
  display: block;
  content: url(/images/Frame\ 1.svg);
}
.explore-menu {
  width: fit-content;
  height: fit-content;
  padding: 16px 12px 33px 12px;
  background-color: var(--white);
  cursor: pointer;
  position: absolute;
  left: 182px;
  top: 78px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  display: none;
}
.menu-wrapper {
  width: 360px;
  margin: 0 auto;
}
.menu-wrapper a {
  color: var(--black);
}
.nav-select {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.nav-select::after {
  display: block;
  content: '';
  background-color: var(--black);
  width: 360px;
  height: 1px;
  border-radius: 100px;
  margin-top: 24px;
  margin-bottom: 40px;
}
.goals {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.goals li:first-child {
  margin-bottom: 8px;
  font-weight: 700;
}
.themes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
.themes li:first-child {
  margin-bottom: 8px;
  font-weight: 700;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.what-to-learn {
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--gray);
  border-right: none;
  width: 330px;
  height: 34px;
  padding-left: 12px; 
  outline: none;
}
.search .search-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #5C5C5C;
  background: var(--button);
  border-radius: 0 4px 4px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-wrapper {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: center;
}
.right-wrapper li:first-child {
  margin-right: 48px;
}
.nav a {
  color: var(--black);
}
.button-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.login {
  font-weight: 700;
  color: var(--button);
}
.signup {
  padding: 10px 12px;
  font-weight: 700;
  color: var(--white);
  border-radius: 4px;
  background: var(--button);
}
.hero-block {
  background-color: var(--mint);
  width: 1296px;
  height: 602px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 80px;
}
.learn {
  width: 512px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.button-wrapper {
  display: inline;
}
.button-wrapper a {
  color: var(--white);
}
.head {
  font-size: 20px;
  font-weight: 700;
  color: var(--button);
}
.best-program p {
  font-size: 20px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
}
.card-item {
  width: 416px;
  height: 480px;
  border-radius: 8px;
  border: 1px solid #DADADA;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--black);
  background-image:url(/images/academic-training/image-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.card-item:first-child {
  background-image:url(/images/academic-training/image-1.png);
}
.card-item:last-child {
  background-image:url(/images/academic-training/image-3.png);
}
.card-item .container {
  width: 384px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 16px;
}
.card-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-name .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3{
  font-size: 24px;
  font-weight: 700;
}
.best-program span{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.get-diploma {
  color: var(--button);
}
.courses p {
  font-size: 20px;
}
.courses .cards {
  margin-bottom: 0;
}
.courses .card-item {
  width: 306px;
  height: 480px;
  background-image: url(/images/popular-courses/image-2.png);
}
.courses .card-item:first-child {
  background-image:url(/images//popular-courses/image-1.png);
}
.courses .qa {
  background-image:url(/images//popular-courses/image-3.png);
}
.courses .card-item:last-child {
  background-image:url(/images/popular-courses/image-4.png);
}
.courses .container {
  width: 274px;
  margin: 24px 16px;
}
.courses span{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.courses .cards {
  grid-template-columns: repeat(4, 1fr);
}
.more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 84px;
  margin-top: 40px;
}
.topics .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.category {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.topics h2 {
  margin-bottom: 40px;
}
.category ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.category a {
  color: var(--button);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category p {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
}
.partners {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--mint);
  margin-bottom: 80px;
}
.partners h2 {
  width: 871px;
  text-align: center;
}
.partners .wrapper{
  width: 1296px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 36px;
}
.partner-icons {
  width: 1296px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cooperate {
  width: fit-content;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.business {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.business .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.business .content {
  width: 636px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.business .content p {
  width: 568px;
  font-size: 22px;
  font-weight: 600;
}
.business .block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 70px;
}
.block .img {
  width: 196px;
  height: 136px;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
}
.loreal {
  background-image: url(/images/buisness-section/image-1.png);
  border-right: 1px solid #BABABA;
  border-bottom: 1px solid #BABABA;
}
.pg {
  background-image: url(/images/buisness-section/image-2.png);
  border-bottom: 1px solid #BABABA;
}
.reliance {
  background-image: url(/images/buisness-section/image-3.png);
  border-bottom: 1px solid #BABABA;
  border-left: 1px solid #BABABA;
}
.danone {
  background-image: url(/images/buisness-section/image-4.png);
  border-right: 1px solid #BABABA;
}
.tata {
  background-image: url(/images/buisness-section/image-5.png);
}
.emirates {
  background-image: url(/images/buisness-section/image-6.png);
  border-left: 1px solid #BABABA;
}
.capgemini {
  background-image: url(/images/buisness-section/image-7.png);
  border-top: 1px solid #BABABA;
border-right: 1px solid #BABABA;
}
.ge {
  background-image: url(/images/buisness-section/image-8.png);
  border-top: 1px solid #BABABA;
}
.petrobras {
  background-image: url(/images/buisness-section/image-9.png);
  border-top: 1px solid #BABABA;
  border-left: 1px solid #BABABA;
}
.price {
  background-color: var(--mint);
  text-align: center;
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: fit-content;
  width: 1296px;
}
.price li {
  padding: 54px;
  border-radius: 24px;
  border: 1px solid var(--button);
  background: #FDFDFD;
  margin-top: 40px;
}
.ticks::before {
  height: 2px;
  width: 304px;
  display: block;
  content: '';
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: var(--button);
  border-radius: 80px;
}
.plan-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 28px;
  height: 272px;
}
.price a {
  color: var(--white);
}
.price-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.price-number span {
  font-size: 16px;
  font-weight: 500;
}
.round-tick {
  width: 16px;
  height: 16px;
  border-radius: 500px;
  background-color: var(--button);
  background-image: url(/images/Vector\ 2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.ticks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.first-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.second-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.price .plus {
  background-color: var(--button);
  color: var(--white);
}
.plus button {
  border: 2px solid var(--white);
}
.plus .ticks::before {
  height: 2px;
  width: 304px;
  display: block;
  content: '';
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: var(--white);
  border-radius: 80px;
}
.plus .round-tick {
  background-color: var(--white);
  background-image: url(/images/Vector\ 3.svg);
}
.first-item p {
  width: 264px;
}
.second-item p {
  width: 264px;
}
.third-item p {
  width: 264px;
}
.third-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 304px;
  font-weight: 500;
}
.students {
  padding-top: 80px;
  padding-bottom: 78px;
}
.students h2 {
  text-align: center;
  margin-bottom: 40px;
}
.students .wrapp {
  display: grid;
  justify-content: start;
  align-items: start;
  gap: 24px;
  grid-template-areas: "one two two three" 
                        "four two two five"
                        "six seven eight nine";
 }
 .img-student {
  width: 306px;
  height: 210px;
  background-size: cover;
 }
.first {
  background-image: url(/images/students/students-1.png);
  background-position: 100%;
  grid-area: one;
}
.second {
  background-image: url(/images/students/students-2.png);
  grid-area: four;
}
.third {
  background-image: url(/images/students/students-3.png);
  grid-area: six;
}
.fourth {
  background-image: url(/images/students/students-4.png);
  grid-area: seven;
}
.fifth {
  background-image: url(/images/students/students-5.png);
  grid-area: eight;
}
.six {
  background-image: url(/images/students/students-6.png);
  grid-area: nine;
}
.seventh {
  background-image: url(/images/students/students-7.png);
  grid-area: five;
}
.eighth{
  background-image: url(/images/students/students-8.png);
  grid-area: three;
}
.ninth{
  width: 636px;
  height: 445px;
  background-image: url(/images/students/students-9.png);
  grid-area: two;
}
.img-container {
  background-image: url(/images/image\ 32.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 727px;
  position: 100%;
  position: relative;
}
.img-container::before {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.60);
  top: 0;
  left: 0;
}
.contact-us {
  position: absolute;
  top: auto;
  left: auto;
  width: min-content;
  padding: 30px;
  border-radius: 24px;
  background: var(--mint);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 24px;
}
.contact-us p {
  font-size: 20px;
  width: 505px;
}
.contact-us label {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap:8px;
}
.form-contact input, textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--button);
  background: #FDFDFD;
  color: var(--gray);
  outline: none;
  font-family: "Quicksand", sans-serif;
  width: 505px;
  font-size: 16px;
  font-weight: 500;
}
.message {
  height: 104px;
}
.contact-us button {
  width: 196px;
}
.left-foot {
display: flex;
flex-direction: column;
width: 306px;
gap:16px;
}
.right-foot {
  display: flex;
  flex-direction: column;
  gap:60px;
}
footer .container{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 64px 36px;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 24px;
}
.instagram {
  background-image: url(/images/1.svg);
  width: 32px;
  height: 32px;
}
.facebook {
  background-image: url(/images/Frame.svg);
  width: 32px;
  height: 32px;
}
.linkedin {
  background-image: url(/images/Frame-2.svg);
  width: 32px;
  height: 32px;
}